---
import Image from "astro/components/Image.astro";
const equipments = Object.values(import.meta.glob('./equipments/*.md', { eager: true }));
---

<section class="w-full h-auto min-h-[1039px] bg-gray-100 flex flex-col items-center justify-center gap-10 max-xl:flex-col max-xl:h-auto max-xl:py-12">
    <div class="w-[90%] max-w-[984px] mt-24">
        {equipments.map(equipment => {
            const imagePath = equipment.frontmatter.image
              ? `/src/images/equipments/${equipment.frontmatter.image}`
              : null;
      
            return (
              <div class="w-full border-b mb-16">
                <h1 class="font-semibold">{equipment.frontmatter.title}</h1>
                <p class="text-gray-700">{equipment.frontmatter.description}</p>
      
                {imagePath && (
                  <Image
                    src={imagePath}
                    alt={equipment.frontmatter.title}
                    class="w-auto my-4 h-[300px]"
                    decoding="async"
                    loading="lazy"
                    height="300"
                    width="300"
                  />
                )}
      
                {equipment.frontmatter.links && equipment.frontmatter.links.length > 0 && (
                  <ul class="list-disc pl-5 my-4">
                    {equipment.frontmatter.links.map(link => (
                      link.url && link.title && (
                        <li>
                          <a href={link.url} class="text-blue-500" target="_blank" rel="noopener noreferrer">
                            {link.title}
                          </a>
                        </li>
                      )
                    ))}
                  </ul>
                )}
              </div>
            );
          })}
    </div>
</section>
